# Judge0 configuration
# Option 1 (default): free public instance - no keys needed
#   https://ce.judge0.com  (rate limited, can be slow)
# Option 2: RapidAPI hosted Judge0
#   JUDGE0_URL=https://judge0-ce.p.rapidapi.com
#   JUDGE0_KEY=your_rapidapi_key
#   JUDGE0_HOST=judge0-ce.p.rapidapi.com
# Option 3: self-hosted with docker (best, unlimited)
#   docker run -d --name judge0-db -e POSTGRES_PASSWORD=secret postgres
#   see https://github.com/judge0/judge0/blob/master/CHANGELOG.md#deployment

JUDGE0_URL=https://ce.judge0.com
# JUDGE0_KEY=
# JUDGE0_HOST=
